/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Russo+One&family=Voltaire&display=swap");

/* Additional styles can be added here */
.choose-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2em;
}
.choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  padding: 2em;
}
.choose-box {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-box h1 {
  font-size: 30px;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-style: normal;
  place-self: center;
}

.chooseContent h3 {
  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;

  color: rgb(6, 2, 2);
}
.chooseContent p {
  font-style: normal;
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(6, 2, 2);
}

.choose-icon {
  width: 50px;
  font-size: 30px;
  background-color: white;
}
.choose-logo {
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.choose-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  padding: 2em;
}
@media screen and (max-width: 992px) {
  .choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .choose-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0em;
  }
  .choose-logo {
    display: none;
  }
  .choose-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .chooseContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .choose-list {
    padding: 2em;
  }
}
