/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Russo+One&family=Voltaire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Manrope:wght@200&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ojuju:wght@200..800&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Voltaire&display=swap");
/* Additional styles can be added here */
.review-con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2em; */
}
.review-con h1 {
  font-size: 25px;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-style: normal;
  place-self: center;
}
.review-con h3 {
  font-size: 18px;
  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-style: normal;
  place-self: center;
}
.review-con p,
h6 {
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(6, 2, 2);
}
.userreview {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.user_comment2 {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 202, 202);
}
@media screen and (max-width: 502px) {
  .userreview {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
