/* <style> */
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Manrope:wght@200&family=Ojuju:wght@200..800&family=Russo+One&family=Voltaire&display=swap");
.category {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* padding: 1em 10em 0em 5em; */
}
.hr-line {
  padding: 2em;
}
.car-category {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 242, 245);
}
.car-category h1 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
.car-category ul {
  font-family: "Antic Slab", serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 992px) {
  .car-category {
    display: none;
  }
  .car-contain {
    display: none;
  }
  .hr-line {
    display: none;
  }
}
