.car_info {
  width: 100%;
  height: 100%;
  font-size: 18px;
  overflow: wrap;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.productDetail {
  font-family: "Antic Slab", serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 70%;
  text-align: start;
}

.productDisplay {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
  padding: 2em;
}
.productDisplay h1,
.productDetail h1 {
  font-size: 20px;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.car_info_2 {
  width: 100%;
  height: 100%;
}
.car_info_2 span {
  display: flex;
  gap: 5em;
}
.list-style {
  list-style-type: disc;
}

.displayed-img {
  width: 100%;
  height: 100%;
}
.car_contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 4%;
  align-items: center;
}
.product-display_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
@media screen and (max-width: 992px) {
  .productDisplay {
    display: block;
    align-items: center;
    padding: 0.5em;
  }
  .productDetail {
    height: 100%;
    width: 100%;
  }
}
